/* Text Input Form CSS Reset */
input {
  border: none;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

input:focus {
  border: none;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: none;
}

.container-canvas {
  display: inline-flex;
  position: relative;
}

#input {
  font-family: 'VT323';
  display: block;
  position: absolute;
  width: 400px;
  text-align: center;
  top: 45%;
  left: 50%;
  margin-left: -200px;
  font-size: xx-large;
  color: white;
  background: transparent;
}

#word { 
  font-family: 'VT323';
  display: block;
  position: absolute;
  width: 400px;
  text-align: center;
  top: 30%;
  left: 50%;
  margin-left: -200px;
  font-size: 48px;
  color: white;
}

::placeholder {
  color: white;
  opacity: 50%;
}

#input:hover {
  cursor: pointer;
}

.health-canvas {
  position: absolute;
  display: flex;
  width: 100%;
}

.player-health-bar {
  box-sizing: border-box;
  display: none;
  margin-top: 10px;
  margin-left: 10px;
  width: 400px;
  height: 40px;
  background: darkgray;
  position: relative;
}

.player-bar {
  background: yellow;
  width: 100%;
  height: 40px;
  position: relative;
  transition: width .5s linear;
  color: black;
}

.player-hit {
  background: rgba(255, 255, 255, 0.6);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 0px;
  transition: width .5s linear;
}

.space-health-canvas {
  background-color: transparent;
  margin-top: 10px;
  margin-left: 10px;
  height: 40px;
  width: 300px;
  flex-shrink: 0;
}

.enemy-health-bar {
  box-sizing: border-box;
  display: none;
  margin-top: 10px;
  margin-right: 10px;
  width: 400px;
  height: 40px;
  background: darkgray;
  position: relative;
}

.enemy-bar {
  background: red;
  width: 100%;
  height: 40px;
  position: relative;
  transition: width .5s linear;
}

.enemy-hit {
  background: rgba(255, 255, 255, 0.6);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 0px;
  transition: width .5s linear;
}