/* CSS RESET FOR TEXT INPUT FORM */
input {
  border: none;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

input:focus {
  border: none;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: none;
}

.container-canvas {
  display: inline-flex;
  position: relative;
}

#input {
  font-family: 'VT323';
  display: block;
  position: absolute;
  width: 400px;
  text-align: center;
  top: 45%;
  left: 50%;
  margin-left: -200px;
  font-size: xx-large;
  color: white;
}

::placeholder {
  color: white;
  opacity: 50%;
}

#input:hover {
  cursor: pointer;
}

.health-canvas {
  position: absolute;
  display: flex;
  width: 100%;
}

.player-health-canvas {
  background-color: yellow;
  margin-top: 10px;
  margin-left: 10px;
  height: 40px;
  width: 100%;
  color: black;
}

.space-health-canvas {
  background-color: transparent;
  margin-top: 10px;
  margin-left: 10px;
  height: 40px;
  width: 300px;
  flex-shrink: 0;
}

.enemy-health-canvas {
  background-color: red;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  height: 40px;
  width: 100%;
  color: black;
}