/* Text Input Form CSS Reset */
input {
  border: none;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

input:focus {
  border: none;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: none;
}

.container-canvas {
  display: inline-flex;
  position: relative;
}

progress::-webkit-progress-bar {
  background-color: #ff6766;
}

progress::-webkit-progress-value {
  background-color: #ADD8E6;
}

progress {
  text-align: center;
  width: 100%;
  border: none;
  position: inherit;
}

progress:before {
  content: attr(data-label);
  font-size: larger;
  vertical-align: 0;
  position: absolute;
  left: 0;
  right: 0;
}

#input {
  font-family: 'VT323';
  display: block;
  position: absolute;
  width: 400px;
  text-align: center;
  top: 45%;
  left: 50%;
  margin-left: -200px;
  font-size: xx-large;
  color: white;
  background: transparent;
}

#word { 
  font-family: 'VT323';
  display: block;
  position: absolute;
  width: 400px;
  text-align: center;
  top: 30%;
  left: 50%;
  margin-left: -200px;
  font-size: 48px;
  color: white;
}

.losspopup {
  display: flexbox;
  position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%) scale(0);
    border: 2px solid #ff6766;
    border-radius: 10px;
    background-color: black;
    width: 450px;
    height: 250px;
    max-width: 100%;
    font-size: 36px;
    font-weight: bolder;
    padding: 10px 10px;
}

.losspopup > * {
  display: inline-flex;
  justify-content: space-evenly;
  margin-top: 20px;
  padding: 7.5px;
  font-size: 28px;
  text-align: left;
}

.losspopup.active {
  transform: translate(-50%, -40%) scale(1);
  z-index: 3;
}

#wordcount {
  margin-left: 15px;
}

#enemycount {
  margin-left: 15px;
}

::placeholder {
  color: white;
  opacity: 50%;
}

#input:hover {
  cursor: pointer;
}

.health-canvas {
  position: absolute;
  display: flex;
  width: 100%;
}

.player-health-bar {
  box-sizing: border-box;
  display: none;
  margin-top: 10px;
  margin-left: 10px;
  width: 400px;
  height: 40px;
  background: darkgray;
  position: relative;
}

.player-bar {
  width: 100%;
  height: 40px;
  position: relative;
  color: black;
}

.player-hit {
  background: rgba(255, 255, 255, 0.6);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 0px;
  transition: width .5s linear;
}

.space-health-canvas {
  background-color: transparent;
  margin-top: 10px;
  margin-left: 10px;
  height: 40px;
  width: 300px;
  flex-shrink: 0;
}

.enemy-health-bar {
  box-sizing: border-box;
  display: none;
  margin-top: 10px;
  margin-right: 10px;
  width: 400px;
  height: 40px;
  position: relative;
}

.enemy-bar {
  background: red;
  color: black;
  width: 100%;
  height: 40px;
  position: relative;
  transition: width .5s linear;
}

.enemy-hit {
  background: rgba(255, 255, 255, 0.6);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 0px;
  transition: width .5s linear;
}