body {
  overflow: hidden;
  text-align: center;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: black;
  margin: 0;
  font-family: 'VT323';
  color: white;
}

.title {
  font-size: 60px;
  margin: 2px 2px 2px 2px;
}

.createdby {
  font-size: 24px;
  margin: 5px 5px 5px 5px;
}

.links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.links img {
  height: 20px;
  cursor: pointer;
  margin: 5px 5px 5px 5px;
  padding-left: 22px;
  padding-right: 22px
}

.links img:hover {
  transform: scale(1.2);
}